* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.05rem;
  line-height: 1.5rem;
  color: #222;
}

html,
body {
  background-color: #f5f4f0;
  padding: 1rem;
  scroll-behavior: smooth;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  text-transform: uppercase;
}

h2 {
  text-transform: uppercase;
  padding-top: 1.5rem;
  padding-bottom: 0.75rem;
}

p {
  text-transform: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

li {
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

header {
  padding-bottom: 4vh;
}

footer {
  padding-top: 4vh;
}

input {
  width: 100%;
  padding: 0.3rem;
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid lightgray;
  margin-top: 0.5rem;
  background-color: #f5f4f0;
}

input:focus {
  outline: none;
}

#gallery {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#service {
  width: 40%;
  max-width: 60rem;
  height: 89.3vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
}

.artwork-info {
  margin-top: 3rem;
}

.artwork-img {
  height: 100%;
  position: relative;
}

.img-fill {
  position: absolute;
  left: 0;
  bottom: 0;
  max-height: 100%;
  max-width: 100%;
  object-fit: contain;
}

.service-newsfeed {
  overflow-y: scroll;
  scrollbar-width: none;
  max-height: auto;
}

.service-newsfeed::-webkit-scrollbar {
  display: none;
}

.search-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  gap: 1rem;
  padding-bottom: 3rem;
}

.icon {
  color: #757575;
}

.margin-left {
  margin-left: 2rem;
}

.button {
  border: none;
  cursor: pointer;
}

.uppercase {
  text-transform: uppercase;
}

@media (max-width: 900px) {
  html,
  body {
    height: auto;
  }

  header {
    padding-bottom: 3rem;
  }

  footer {
    padding-top: 3rem;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  #gallery {
    width: 100%;
    justify-content: flex-start;
  }

  #service {
    margin-top: 3rem;
    width: 100%;
    justify-content: flex-start;
    margin-left: 0rem;
  }

  .artwork-info {
    margin-top: 0rem;
  }

  .artwork-img {
    position: relative;
  }

  .img-fill {
    position: relative;
  }

  .service-newsfeed {
    overflow-y: auto;
    scrollbar-width: none;
    max-height: 100%;
  }
}
